<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="controller" class="ua.kpi.controller.Controller">
    <!-- collaborators and configuration for this bean go here -->
    <constructor-arg ref="view" />
  </bean>
  <bean id="view" factory-bean="factory" factory-method="createView"> <!-- collaborators and configuration for this bean go here -->
  </bean>
  <bean id="factory" class="ua.kpi.MVCConsoleFactory" factory-method="getInstance" />
  <!-- more bean definitions go here -->
</beans>